#brainstorm-view {
    width: 95%;
    height: 90%;
    float: left;
    border: 1px solid lightgray;
    margin-left: 2%;
}

idea-detail-view {
    border: 1px solid silver;
    position: absolute;
    visibility: hidden;
}

quick-view {
    border: 1px solid silver;
    position: absolute;
    visibility: hidden;
    background-color: whitesmoke;
}

#add-view {
    border: 1px solid silver;
    position: absolute;
    visibility: hidden;
    background-color: whitesmoke;
}

#remove-view {
    border: 1px solid silver;
    position: absolute;
    visibility: hidden;
    background-color: whitesmoke;
}